In [13]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import numpy as np

In [14]:
data = pd.read_csv("Unemployment.csv")
print(data.head())

           Region         Date  Frequency   Estimated Unemployment Rate (%)  \
0  Andhra Pradesh   31-05-2019    Monthly                              3.65
1  Andhra Pradesh   30-06-2019    Monthly                              3.05
2  Andhra Pradesh   31-07-2019    Monthly                              3.75
3  Andhra Pradesh   31-08-2019    Monthly                              3.32
4  Andhra Pradesh   30-09-2019    Monthly                              5.17

    Estimated Employed   Estimated Labour Participation Rate (%)   Area
0           11999139.0                                     43.24  Rural
1           11755881.0                                     42.05  Rural
2           12086707.0                                     43.50  Rural
3           12285693.0                                     43.97  Rural
4           12256762.0                                     44.68  Rural

In [15]:
print(data.tail())

    Region  Date  Frequency   Estimated Unemployment Rate (%)  \
763    NaN   NaN        NaN                               NaN
764    NaN   NaN        NaN                               NaN
765    NaN   NaN        NaN                               NaN
766    NaN   NaN        NaN                               NaN
767    NaN   NaN        NaN                               NaN

      Estimated Employed   Estimated Labour Participation Rate (%) Area
763                  NaN                                       NaN  NaN
764                  NaN                                       NaN  NaN
765                  NaN                                       NaN  NaN
766                  NaN                                       NaN  NaN
767                  NaN                                       NaN  NaN

In [16]:
data.dtypes

Region                                       object
 Date                                        object
 Frequency                                   object
 Estimated Unemployment Rate (%)            float64
 Estimated Employed                         float64
 Estimated Labour Participation Rate (%)    float64
Area                                         object
dtype: object

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 7 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Region                                    740 non-null    object
 1    Date                                     740 non-null    object
 2    Frequency                                740 non-null    object
 3    Estimated Unemployment Rate (%)          740 non-null    float64
 4    Estimated Employed                       740 non-null    float64
 5    Estimated Labour Participation Rate (%)  740 non-null    float64
 6   Area                                      740 non-null    object
dtypes: float64(3), object(4)
memory usage: 42.1+ KB

In [18]:
data.describe()

,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%)
count,740.000000,7.400000e+02,740.000000
mean,11.787946,7.204460e+06,42.630122
std,10.721298,8.087988e+06,8.111094
min,0.000000,4.942000e+04,13.330000
25%,4.657500,1.190404e+06,38.062500
50%,8.350000,4.744178e+06,41.160000
75%,15.887500,1.127549e+07,45.505000
max,76.740000,4.577751e+07,72.570000

Region             Date         Frequency   Estimated Unemployment Rate (%)   Estimated Employed   Estimated Labour Participation Rate (%)  Area
Andhra Pradesh     29-02-2020   Monthly    5.91                              11723617.0           42.83                                     Rural    1
Puducherry         31-10-2019  Monthly     1.17                              312548.0             38.86                                     Urban    1
                   31-03-2020  Monthly     0.62                              278851.0             34.12                                     Urban    1
                   31-05-2019   Monthly    0.00                              172474.0             43.08                                     Rural    1
                               Monthly     1.25                              283905.0             35.71                                     Urban    1
                                                                                                                                                    ..
Himachal Pradesh   31-05-2020   Monthly    25.64                             1732050.0            42.62                                     Rural    1
                               Monthly     50.00                             134868.0             43.55                                     Urban    1
                   31-07-2019   Monthly    20.59                             1916824.0            44.91                                     Rural    1
                               Monthly     21.51                             235894.0             49.22                                     Urban    1
West Bengal        31-12-2019  Monthly     7.24                              11335696.0           45.97                                     Urban    1
Length: 740, dtype: int64

In [43]:
data.isna().sum()

Region                                      0
 Date                                       0
 Frequency                                  0
 Estimated Unemployment Rate (%)            0
 Estimated Employed                         0
 Estimated Labour Participation Rate (%)    0
Area                                        0
dtype: int64

Empty DataFrame
Columns: [Region,  Date,  Frequency,  Estimated Unemployment Rate (%),  Estimated Employed,  Estimated Labour Participation Rate (%), Area]
Index: []